/_archive/
/output_data/
/credentials_data/
/stimuli/
/test_stimuli/
/stimuli.zip
/output_check.ipynb
/token/
/docs/
/test/
/.claude/
/__pycache__/
.env
/analysis/*.txt
/analysis/*.ipynb
/**/.DS_Store
/.DS_Store