Welcome to our <strong>Memory Diffusion</strong> experiment! Today you will be completing a task testing your visual memory. <br><br>

The participation is voluntary and you can stop at any time! This portal is protected and <strong>requires entry of your password to continue</strong>. 
You don’t need your user name, just paste your password below to access the study. <br><br>

By continuing beyond this screen, you agree to abide by the terms set out by the manager of this protocol that issued the access password.
